body{   
    margin:0 auto; 
  padding: 0px;
  }
/*#close_popup{
  border:none;
  background: none;
  color: white;
    /*float: right;*/
    /*font-size: 28px;
    font-weight: bold;
}*/
#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color:none;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
#back2Top:hover {
  background:none;
  color: #000;
}

.center_data{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
#close_popup{
border:none;
background: none;
color:red;
font-size: 18px;
font-weight: bold;
}
#close_popup:hover{
background: red;
color:white;
}
.container-fluid{
  background-color: #41454c;
  padding-right: 0px;
}
.navbar-brand{
  font-weight: bold;
}
#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.5;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-bottom: -100px;

}
.fixed-header {
  position: fixed;
  top: 0; 
}

/* .affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

.affix + .container-fluid {
  padding-top: 70px;
} */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #424851; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #36393d; 
}

header{
  padding: 0;
  width: 940px;
}
.footer {
  overflow: hidden;
  background-color: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
  height:50px;
}
.footer-container{
  margin-top:10px; 
}
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
#rwd-table {
  margin: -2em 0;
  
}
#rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#rwd-table th {
  display: none;
}
#rwd-table td {
  display: block;
}
#rwd-table td:first-child {
  padding-top: .5em;
}
#rwd-table td:last-child {
  padding-bottom: .5em;
}
#rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 10em;
  display: inline-block;
}
@media (min-width: 480px) {
  #rwd-table td:before {
    display: none;
  }
}
#rwd-table th, #rwd-table td {
  text-align: left;

}
#rwd-table th{
  font-size: 12px;
  cursor: pointer;
}
@media (min-width: 480px) {
  #rwd-table th, #rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  #rwd-table th:first-child, #rwd-table td:first-child {
    padding-left: 0;
  }
  #rwd-table th:last-child, #rwd-table td:last-child {
    padding-right: 0;
  }
}

body {
  /*padding: 0 0em;*/
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #fff;
  background: #fff;
}
#dynamic_object{
  display: none;
}
h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}
#tb_header{
  
  background: #d91f2d;
  color: #fff;
  
}

.ans{
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align:center;
}
/* .prod_title:hover{
  background-color: #d91f2d;
} */
/* tr:hover td {
  background-color: #FFFAF0; color: #fff;
} */
#rwd-table {
  background: #fff;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
}
#rwd-table tr {
  border-color: #fff;

}
 #rwd-table td {
  margin: .5em 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #000;
  font-size: 9px;
}
@media (min-width: 480px) {
  #rwd-table th, #rwd-table td {
    padding: 1em !important;
  }
}
 #rwd-table td:before {
  color: #000;
}

.nextPage,.export{
  background: linear-gradient(to bottom,#f6c88f,#ed9220);
  cursor: pointer;
  border-color: #f6c88f;
  color:  black;
  margin-right: 10px;
  float: right;
}
/* .nextPage:hover,.export:hover{
  background: #f28c10;
  border-color: #f28c10;  
} */
.copy-rights{
  float: left;
  color: white;
  margin-left:35px;
}
a.export, a.export:visited {
  display: inline-block;
  text-decoration: none;
  color:#000;
  background-color:#ddd;
  /* border: 1px solid #ccc; */
  /*padding:8px;*/
}
a:hover{
  text-decoration: none;
}

#myInput {
  /* background-image: url('/css/search.png'); */
  background-position: 10px 10px;
  background-repeat: no-repeat;
  /*width: 100%;*/
  font-size: 16px;
  border-radius: 0%;
  padding: 12px 20px 12px 10px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  height:10px;
  width:20%;
  float: right;
  /* display: none; */
}
.odd {
  background: #ffffff;
  color: #000;
  border-radius:25%;
}

.even {
  background: #efefef;
  color: #000;
  border-radius: 25%;
}
.even:hover,.odd:hover{
  background: #ff977a;
  margin-left: 0px;
  margin-right: 0px;
}

/* .dispimage:hover{
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block; 
  background: #ddd;
} */

#image_block{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

